.show {
  border: 1px solid gray;
  width: 50vw;
  margin: auto;
  min-height: 99vh;
  border-radius: 4px;
  position: relative;
}
.search_show {
  position: absolute;
  width: 100%;
  top: 70px;
  /* border: 1px solid red; */
  background-color: white;
  overflow-y: scroll;
  max-height: 88vh;
  /* border: 1px solid red; */
}
.search_show::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: white;
}
.search_show::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 7px;
}
input {
  height: 7vh;
  width: 95%;
  border: 1px solid gray;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
}
input:focus {
  border-color: 1px solid rgb(86, 179, 255);
  outline: none !important;
  box-shadow: 0 0 10px #719ece;
}
.main {
  border-bottom: 1px solid rgb(240, 240, 240);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4%;
  position: relative;
}
.box1 {
  text-align: left;
}
.box2 {
  text-align: right;
}
.text1 {
  font-size: 25px;
  font-weight: 600;
}
.text2 {
  font-size: 18px;

  color: rgb(151, 151, 151);
}
.text3 {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
.text4 {
  font-size: 18px;
}

/* .down_icon img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  /* border: 1px solid black; */
/* } */

.arrow-up {
  /* width: 5px; */
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid rgb(46, 198, 194);
}

.arrow-down {
  height: 0px;
  width: 0px;
  border: none;
  border-top: 5px solid rgb(231, 89, 46);
  border-left: 5px solid rgba(231, 30, 30, 0);
  border-right: 5px solid rgba(211, 17, 17, 0);
}
.show_add {
  display: flex;
  gap: 3%;
  position: absolute;
  /* flex-direction: row-reverse; */
  right: 0;
  /* justify-content: right; */
  /* text-align: right; */
  margin-right: 50px;
}
.blue_btn {
  width: 40px;
  height: 30px;
  border: none;
  background-color: rgb(25, 144, 255);
  color: white;
  font-weight: bolder;
  outline: 1px solid black;
  border-radius: 2px;
}
.red_btn {
  width: 40px;
  height: 30px;
  border: none;
  background-color: rgb(255, 77, 79);
  color: white;
  font-weight: bolder;
  outline: 1px solid black;
  border-radius: 2px;
}
.del_btn img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.del_btn {
  width: 40px;
  height: 30px;
  border: none;
  outline: 1px solid black;
  border-radius: 2px;
}
.add_btn {
  width: 40px;
  height: 30px;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  outline: 1px solid black;
  border-radius: 2px;
}
.i_btn {
  width: 40px;
  height: 30px;
  border: none;
  font-weight: bolder;
  outline: 1px solid black;
  border-radius: 2px;
}
.watch_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 7px;
}
.watch_listname {
  display: flex;
  gap: 70%;
  margin-top: 25px;
}
